@import './reset.scss';
@import '../public/fonts/Open_Sans/stylesheet.css';

:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

body {
  height: 100%;

  font-family: 'Open Sans';
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  display: block;
  overflow: hidden;

  width: 540px;
  max-width: 540px;
  margin-right: 28px;
  margin-bottom: 28px;

  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .2);

  &__body {
    display: block;

    padding: 32px 50px 24px;

    background-color: #f8f8f7;
  }

  &__title {
    margin-bottom: 24px;

    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;

    color: #050038;

    &_bold {
      font-weight: bold;
    }
  }

  &__footer {
    padding: 24px 50px 16px;
  }
}

.board {
  overflow-y: auto;

  box-sizing: border-box;
  height: 96px;
  padding: 7px 8px;
  padding-right: 17px;

  border: 1px solid #c3c2cf;
  border-radius: 4px;
  background-color: #fff;
}

.email {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 7px;
  margin-bottom: 8px;

  color: #050038;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &_valid {
    padding-left: 10px;

    border-radius: 100px;
    background-color: rgba(102, 153, 255, .2);
  }

  &_invalid {
    border-bottom: 1px dashed #d92929;
  }

  &__text {
    vertical-align: middle;
  }

  &__close {
    position: relative;

    box-sizing: border-box;
    width: 24px;
    height: 24px;

    vertical-align: middle;

    border: 0;
    background-color: transparent;

    &:before,
    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 1px;

      transform: translateX(-50%) rotate(45deg);

      background-color: #050038;
    }

    &:before {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.input {
  width: 150px;
  height: 24px;

  border: 0;

  &::placeholder {
    font-size: 14px;
    line-height: 24px;

    color: #c3c2cf;
  }
}

.btn {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;

  font-size: 14px;
  line-height: 24px;

  text-align: center;

  border: 0;
  border-radius: 6px;

  &_primary {
    color: #fff;
    background-color: #4262ff;

    &:hover,
    &:focus {
      background-color: #2946d3;
    }
  }
}
